<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="100000" />
	</system.web>

	<system.serviceModel>
		<!-- Bindings for both HTTP (polling) and TCP (duplex) -->
		<bindings>
			<basicHttpBinding>
				<binding name="DefaultHttp"
						 maxBufferSize="10485760"
						 maxReceivedMessageSize="10485760">
					<readerQuotas maxDepth="64"
								  maxStringContentLength="10485760"
								  maxArrayLength="10485760" />
					<security mode="None" />
				</binding>
			</basicHttpBinding>

			<netTcpBinding>
				<binding name="DuplexTcp"
						 maxReceivedMessageSize="10485760"
						 portSharingEnabled="true"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:01:00"
						 openTimeout="00:00:30"
						 closeTimeout="00:00:30">
					<security mode="None" />
					<!-- If you want ordered, reliable delivery, flip this on:
               <reliableSession enabled="true" ordered="true" /> -->
				</binding>
			</netTcpBinding>
		</bindings>

		<services>
			<!-- HTTP polling service (what you already had) -->
			<service name="WcfService1.Service1" behaviorConfiguration="HttpBehavior">
				<endpoint address=""
						  binding="basicHttpBinding"
						  bindingConfiguration="DefaultHttp"
						  contract="SharedContracts.LobbyServices" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>

			<!-- TCP duplex push service -->
			<service name="WcfService1.LobbyDuplexService" behaviorConfiguration="TcpBehavior">
				<endpoint address=""
						  binding="netTcpBinding"
						  bindingConfiguration="DuplexTcp"
						  contract="SharedContracts.ILobbyDuplexService" />
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="HttpBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="100"
									   maxConcurrentSessions="100"
									   maxConcurrentInstances="100" />
				</behavior>

				<behavior name="TcpBehavior">
					<!-- mexTcpBinding endpoint above publishes metadata; httpGet not needed -->
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="200"
									   maxConcurrentSessions="200"
									   maxConcurrentInstances="200" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!-- Map schemes to default bindings (not strictly required but nice) -->
		<protocolMapping>
			<add scheme="http" binding="basicHttpBinding" />
			<add scheme="net.tcp" binding="netTcpBinding" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
								   multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="false" />
		<security>
			<requestFiltering>
				<!-- ~100 MB -->
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
