<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	<system.serviceModel>
		<services>
			<!-- Host your concrete service class -->
			<service name="WcfService1.Service1" behaviorConfiguration="svcBehavior">
				<!-- SOAP endpoint your WPF app will call -->
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="SharedContracts.LobbyServices" />
				<!-- Metadata exchange so WCF Test Client / Add Service Reference works -->
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="svcBehavior">
					<!-- Enable WSDL -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- Flip to true while debugging to see server exception details in faults -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!-- Optional: map http to basicHttpBinding -->
		<protocolMapping>
			<add scheme="http" binding="basicHttpBinding" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
								   multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="false"/>
	</system.webServer>
</configuration>
